<main class="form-wrapper">
    <form class="form" [formGroup]="formNovaTransacao" (ngSubmit)="confirmarTransacao()">
        <h2 class="titulo">Nova transação</h2>

        <div class="campos">
            <label class="campo-grupo">
                Tipo de transação
                <div class="select-wrapper">
                    <select formControlName="tipoTransacao" name="tipo-transacao" class="campo select-tipo-transacao"
                        required>
                        <option value="" selected disabled>Selecione o tipo de transação</option>

                        @for (tipo of tipoTransacaoEnum | keyvalue; track tipo.key) {
                        <option [value]="tipo.value">{{tipo.value}}</option>
                        }
                    </select>
                    <app-campo-erro [control]="formNovaTransacao.get('tipoTransacao')"
                        fieldName="Tipo de transação"></app-campo-erro>
                </div>
            </label>
            <label class="campo-grupo">
                Valor
                <div class="input-wrapper">
                    <input formControlName="valorTransacao" placeholder="0,00" type="number" min="0.01" step="0.01"
                        name="valor" class="campo input-valor-transacao" required>
                    <app-campo-erro [control]="formNovaTransacao.get('valorTransacao')"
                        fieldName="Valor"></app-campo-erro>
                </div>
            </label>
            <button class="botao-confirmar-transacao">Confirmar
                transação</button>
        </div>
    </form>
</main>